/*************************************************
 ** page layout **********************************
 *************************************************/

.x-part {
	margin-bottom: 1.5rem;
}
.x-part:last-child {
	margin-bottom: 0;
}

.x-subpart {
	margin-bottom: 0.75rem;
}
.x-subpart:last-child {
	margin-bottom: 0;
}


/*************************************************
 ** bootstrap card *******************************
 *************************************************/

.card-body {
    padding: 1rem;
}
.card-body dl {
    margin-bottom: 0;
}
.card-body dd {
    margin-bottom: 0.25rem;
}
.card-body dd:last-child {
    margin-bottom: 0;
}


/*************************************************
 ** bootstrap form *******************************
 *************************************************/

.form-group:last-child {
	margin-bottom: 0;
}

@media (max-width: 991px) {
	.col-form-label {
		padding-top: 0;
		padding-bottom: 0.2rem;
	}
}


/*************************************************
 ** bootstrap list-group *************************
 *************************************************/

.list-group a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.list-group .x-font-large {
	font-size: large;
	font-weight: bold;
	margin-top: -0.1rem;
	margin-bottom: -0.1rem;
}


/*************************************************
 ** others ***************************************
 *************************************************/

.x-text-ellipsis {
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.x-hover-pointer:hover {
	cursor: pointer;
}

.x-btn-small-padding {
	font-size: 95%;
    padding-top: 0.05rem;
    padding-bottom: 0rem;
}
